.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
.tab-label {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #f2f2f2;
  margin-right: 0.2em;
}
.tab-label:hover {
  background: #e6e6e6;
}
.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 1em;
}
input[type="radio"] {
  display: none;
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2 {
  display: block;
}
#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"] {
  background: white;
  border-bottom: 1px solid white;
}
